# Port allocated by Render (automatically set by Render)
PORT=5000

# MongoDB Connection String (MongoDB Atlas URI recommended for production)
# Example: mongodb+srv://username:password@cluster0.mongodb.net/pawtopia?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/pawtopia?retryWrites=true&w=majority

# JWT Secret Key for authenticating users & admins
JWT_SECRET=supersecretpawtopiakey_change_in_production
